.cv {
 padding: 0 var(--spacing-4);
 max-width: var(--container-large);
}

.cv h1 {
 margin-top: 0;
}

.job,
.school {
 list-style: none;
}

.job .date,
.school .schoolName {
 margin-bottom: 0;
}

.job .description,
.school .description {
 color: var(--text-muted);
}