.language {
 display: flex;
 flex-direction: column;
 list-style: none;
}

.language .title {
 font-size: var(--font-size-s);
 font-weight: var(--font-weight-regular);
}

.language .level {
 color: var(--text-color-muted);
}