.footer {
 width: 100%;
 background: linear-gradient(180deg, var(--bg) 0%, var(--blue-900) 100%);
}

.footerContent {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: var(--spacing-12) var(--spacing-8);
 width: 100%;
 max-width: var(--container);
 padding: var(--spacing-8) var(--spacing-4) var(--spacing-12) var(--spacing-4);
 margin: 0 auto;
}

.footerContent h2 {
 font-size: var(--font-size-s);
}

.category,
.category ul {
 display: flex;
 flex-direction: column;
 gap: var(--spacing-2);
}

@media (min-width: 768px) {
 .footerContent {
  grid-template-columns: repeat(4, 1fr);
 }
}

@media (prefers-color-scheme: light) {
 .footer {
  background: linear-gradient(180deg, var(--bg) 0%, var(--blue-50) 100%);
 }
}