.footer {
 width: 100%;
}

.footerContent {
 display: flex;
 gap: var(--spacing-12);
 width: 100%;
 max-width: var(--container);
 padding: var(--spacing-4);
 margin: 0 auto;
 border-top: var(--border);
}

.footerContent h2 {
 font-size: var(--font-size-s);
}

.category,
.category ul {
 display: flex;
 flex-direction: column;
}

.category,
.category.socialMedia ul {
 gap: var(--spacing-2);
}

.category a,
.category a:visited {
 color: var(--text-muted);
}

@media (min-width: 1024px) {
 .footerContent {
  padding: var(--spacing-8) var(--spacing-4);
 }
}