.repository-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-lg);
}

@media (min-width: 1536px) {
  .repository-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--spacing-md);
  }
}
