.section {
    box-sizing: border-box;
    width: 100%;

    h2 {
        margin-bottom: var(--space-md);
    }
}

.section.breaker {
    position: relative;
    z-index: 1;

    .content {
        box-sizing: border-box;
        padding-bottom: var(--space-lg);
        padding-top: var(--space-lg);
        position: relative;
        z-index: 1;
    }

    .breaker {
        background-color: var(--color-section);
        background-position: center;
        background-size: cover;
        box-sizing: border-box;
        content: "";
        display: block;
        filter: brightness(0.5);
        height: 100%;
        left: -50vw;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 150vw;
        z-index: -1;
    }

}