@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
@import './typography.css';
@import './animations/animations.css';

:root {
  --hue-red: 0;
  --hue-orange: 50;
  --hue-yellow: 100;
  --hue-green: 136;
  --hue-teal: 180;
  --hue-cyan: 220;
  --hue-blue: 260;
  --hue-purple: 320;
  --hue-pink: 360;

  --hue-accent: var(--hue-green);

  --lightness-100: 100%;
  --lightness-95: 95%;
  --lightness-90: 90%;
  --lightness-85: 85%;
  --lightness-80: 80%;
  --lightness-75: 75%;
  --lightness-70: 70%;
  --lightness-65: 65%;
  --lightness-60: 60%;
  --lightness-55: 55%;
  --lightness-50: 50%;
  --lightness-45: 45%;
  --lightness-40: 40%;
  --lightness-35: 35%;
  --lightness-30: 30%;
  --lightness-25: 25%;
  --lightness-20: 20%;
  --lightness-15: 15%;
  --lightness-10: 10%;
  --lightness-5: 5%;
  --lightness-0: 0%;

  --lightness-dark: var(--lightness-10);
  --lightness-light: var(--lightness-95);
  --lightness: var(--lightness-light);
  --lightness-inverted: var(--lightness-dark);

  --chroma-1: 0.05;
  --chroma-2: 0.1;
  --chroma-3: 0.15;
  --chroma-4: 0.2;

  --color-red: oklch(var(--lightness-50) var(--chroma-3) var(--hue-red));
  --color-orange: oklch(var(--lightness-50) var(--chroma-3) var(--hue-orange));
  --color-yellow: oklch(var(--lightness-50) var(--chroma-3) var(--hue-yellow));
  --color-green: oklch(var(--lightness-50) var(--chroma-3) var(--hue-green));
  --color-teal: oklch(var(--lightness-50) var(--chroma-3) var(--hue-teal));
  --color-cyan: oklch(var(--lightness-50) var(--chroma-3) var(--hue-cyan));
  --color-blue: oklch(var(--lightness-50) var(--chroma-3) var(--hue-blue));
  --color-purple: oklch(var(--lightness-50) var(--chroma-3) var(--hue-purple));
  --color-pink: oklch(var(--lightness-50) var(--chroma-3) var(--hue-pink));

  --color-accent: oklch(var(--lightness) var(--chroma-3) var(--hue-accent));
  --color-accent-light: oklch(
    var(--lightness-90) var(--chroma-2) var(--hue-accent)
  );
  --color-accent-dark: oklch(
    var(--lightness-50) var(--chroma-4) var(--hue-accent)
  );

  --color-surface-light: oklch(
    var(--lightness-light) var(--chroma-2) var(--hue-accent)
  );
  --color-surface-dark: oklch(
    var(--lightness-dark) var(--chroma-4) var(--hue-accent)
  );
  --color-surface-1: oklch(var(--lightness) var(--chroma-1) var(--hue-accent));
  --color-surface-2: oklch(var(--lightness) var(--chroma-2) var(--hue-accent));
  --color-surface-3: oklch(var(--lightness) var(--chroma-3) var(--hue-accent));
  --color-surface-inverted: oklch(
    var(--lightness-inverted) var(--chroma-3) var(--hue-accent)
  );

  --color-text-light: oklch(var(--lightness-light) 0 var(--hue-accent));
  --color-text-dark: oklch(var(--lightness-dark) 0 var(--hue-accent));
  --color-text: oklch(var(--lightness-inverted) 0 var(--hue-accent));
  --color-text-inverted: oklch(var(--lightness) 0 var(--hue-accent));
  --color-text-colored: oklch(
    var(--lightness-inverted) var(--chroma-3) var(--hue-accent)
  );

  --color-border-light: oklch(
    var(--lightness-light) var(--chroma-2) var(--hue-accent) / 0.5
  );
  --color-border-dark: oklch(
    var(--lightness-dark) var(--chroma-2) var(--hue-accent) / 0.5
  );
  --color-border: oklch(
    var(--lightness-inverted) var(--chroma-2) var(--hue-accent) / 0.5
  );
  --color-border-inverted: oklch(
    var(--lightness-inverted) var(--chroma-2) var(--hue-accent) / 0.5
  );

  --border: var(--border-width) solid var(--color-border);
  --border-thin: var(--border-width-thin) solid var(--color-border);
  --border-thick: var(--border-width-thick) solid var(--color-border);
  --border-inverted: var(--border-width) solid var(--color-border-inverted);
  --border-inverted-thin: var(--border-width-thin) solid
    var(--color-border-inverted);
  --border-inverted-thick: var(--border-width-thick) solid
    var(--color-border-inverted);
  --border-light: var(--border-width) solid var(--color-border-light);
  --border-light-thin: var(--border-width-thin) solid var(--color-border-light);
  --border-light-thick: var(--border-width-thick) solid
    var(--color-border-light);

  --border-dotted: var(--border-width) dotted var(--color-border);
  --border-dotted-thin: var(--border-width-thin) dotted var(--color-border);
  --border-dotted-thick: var(--border-width-thick) dotted var(--color-border);
  --border-dotted-inverted: var(--border-width) dotted
    var(--color-border-inverted);
  --border-dotted-thin-inverted: var(--border-width-thin) dotted
    var(--color-border-inverted);
  --border-dotted-thick-inverted: var(--border-width-thick) dotted
    var(--color-border-inverted);
  --border-dotted-light: var(--border-width) dotted var(--color-border-light);
  --border-dotted-light-thin: var(--border-width-thin) dotted
    var(--color-border-light);
  --border-dotted-light-thick: var(--border-width-thick) dotted
    var(--color-border-light);

  --border-dashed: var(--border-width) dashed var(--color-border);
  --border-dashed-thin: var(--border-width-thin) dashed var(--color-border);
  --border-dashed-thick: var(--border-width-thick) dashed var(--color-border);
  --border-dashed-inverted: var(--border-width) dashed
    var(--color-border-inverted);
  --border-dashed-thin-inverted: var(--border-width-thin) dashed
    var(--color-border-inverted);
  --border-dashed-thick-inverted: var(--border-width-thick) dashed
    var(--color-border-inverted);
  --border-dashed-light: var(--border-width) dashed var(--color-border-light);
  --border-dashed-light-thin: var(--border-width-thin) dashed
    var(--color-border-light);
  --border-dashed-light-thick: var(--border-width-thick) dashed

  --shadow-1: 0 0px 5px 0px var(--color-accent);
  --shadow-2: 0 4px 6px -1px var(--color-accent);
  --shadow-3: 0 1px 3px 0 var(--color-accent);

  --gradient-rainbow: radial-gradient(
    circle,
    var(--color-red),
    var(--color-orange),
    var(--color-yellow),
    var(--color-green),
    var(--color-teal),
    var(--color-cyan),
    var(--color-blue),
    var(--color-purple),
    var(--color-pink)
  );

  --gradient-surface: linear-gradient(
    45deg,
    var(--color-surface-1),
    var(--color-surface-2),
    var(--color-surface-3)
  );

  --font-family-primary: 'Inter', sans-serif;
  --font-family-secondary: 'Merriweather', serif;

  --font-size-xxs: clamp(0.85rem, 1vw, 0.9rem);
  --font-size-xs: clamp(0.9rem, 1vw, 1rem);
  --font-size-sm: clamp(1rem, 1vw, 1.1rem);
  --font-size-md: clamp(1.1rem, 1vw, 1.25rem);
  --font-size-lg: clamp(1.25rem, 1vw, 1.5rem);
  --font-size-xl: clamp(1.5rem, 2vw, 2rem);
  --font-size-2xl: clamp(1.85rem, 3vw, 2.5rem);
  --font-size-3xl: clamp(2rem, 3vw, 2.75rem);
  --font-size-4xl: clamp(2.3rem, 4vw, 3rem);
  --font-size-5xl: clamp(2rem, 5vw, 4rem);

  --line-height-normal: 1.5;
  --line-height-tight: 1.25;
  --line-height-loose: 1.75;

  --border-width: 2px;
  --border-width-thin: 1px;
  --border-width-thick: 4px;

  --border-radius-full: 9999px;
  --border-radius-sm: var(--spacing-xs);
  --border-radius-md: var(--spacing-sm);
  --border-radius-lg: var(--spacing-md);

  --spacing-0: 0;
  --spacing-xxs: clamp(0.125rem, 0.25rem, 0.25rem);
  --spacing-xs: clamp(0.25rem, 0.5rem, 0.5rem);
  --spacing-sm: clamp(0.5rem, 1rem, 1rem);
  --spacing-md: clamp(1rem, 2rem, 4rem);
  --spacing-lg: clamp(2rem, 4rem, 4rem);
  --spacing-xl: clamp(4rem, 8rem, 8rem);
  --spacing-2xl: clamp(8rem, 16rem, 16rem);
  --spacing-3xl: clamp(16rem, 32rem, 32rem);
  --spacing-4xl: clamp(32rem, 64rem, 64rem);

  --breakpoint-sm: 640px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1536px;

  --max-width: var(--breakpoint-lg);

  --padding-horizontal: var(--spacing-md);

  --direction: normal;
  --duration: 0.6s;
  --timing: cubic-bezier(0.075, 0.82, 0.165, 1);
  --fill-mode: backwards;
  --distance: 15%;
  --iterations: 1;
  --transform-start: translateY(0) translateX(0);
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --direction: alternate;
    --duration: 0.8s;
    --timing: ease-in-out;
    --fill-mode: both;
    --iterations: infinite;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --lightness: var(--lightness-dark);
    --lightness-inverted: var(--lightness-light);
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--font-family-primary);
  height: 100svh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--color-surface-1);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  line-height: var(--line-height-normal);
}

img {
  border-radius: var(--spacing-sm);
  max-width: 100%;
  object-fit: cover;
}

main {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--spacing-lg);
  justify-content: flex-start;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: var(--padding-horizontal);
  width: 100%;
}

section {
  margin: 0 auto;
  max-width: var(--max-width);
  width: 100%;
  position: relative;
  padding: var(--padding-lg) 0;
  box-sizing: border-box;

  &::after {
    content: '';
    height: 100%;
    left: 0;
    left: -50vw;
    position: absolute;
    top: 0;
    width: 150vw;
    z-index: -1;
  }
}

button {
  background: var(--color-accent-dark);
  color: var(--color-text-light);
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-size: var(--font-size-sm);
  font-weight: 400;
  padding: var(--spacing-xs) var(--spacing-sm);
  min-height: 44px;
  transition: background 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
}

@media (prefers-reduced-motion) {
  * {
    animation: none;
    transition: none;
  }
}