h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
  width: 100%;

  &.huge {
    color: var(--color-text-colored);
    font-size: var(--font-size-5xl);
    font-weight: 900;
    max-width: none;
    text-wrap: balance;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-family-primary);
  font-weight: 700;
  text-wrap: balance;
}

h1,
.h1 {
  font-size: var(--font-size-3xl);
  font-weight: 900;
}

h2,
.h2 {
  font-size: var(--font-size-2xl);
}

h3,
.h3 {
  font-size: var(--font-size-xl);
  font-weight: 600;
}

h4,
.h4 {
  font-size: var(--font-size-lg);
}

h5,
.h5 {
  font-size: var(--font-size-md);
}

h6,
.h6,
p {
  font-size: var(--font-size-sm);
}

p {
  max-width: 60ch;
}

@supports (text-wrap: balance) {
  p,
  .balanced {
    text-wrap: balance;
  }
}

small {
  font-size: var(--font-size-xxs);
}

ul,
ol {
  margin-top: var(--spacing-sm);
  padding-left: var(--spacing-md);
}

li {
  margin-bottom: var(--spacing-sm);

  &:last-child {
    margin-bottom: 0;
  }

  &::marker {
    color: var(--color-text-colored);
  }
}

ul.no-style,
ul.no-style li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  position: relative;
  max-width: max-content;
  text-decoration: none;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 0.1em;
    background: var(--color-border);
  }

  &:hover::after {
    height: 0.2em;
  }
}
