h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
  width: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-family-primary);
  font-weight: 700;
  text-wrap: balance;
}

h1,
.h1 {
  font-size: var(--font-size-3xl);
}

h2,
.h2 {
  font-size: var(--font-size-2xl);
}

h3,
.h3 {
  font-size: var(--font-size-xl);
}

h4,
.h4 {
  font-size: var(--font-size-lg);
}

h5,
.h5 {
  font-size: var(--font-size-md);
}

h6,
.h6,
p {
  font-size: var(--font-size-sm);
}

p {
  max-width: 60ch;
}

@supports (text-wrap: balance) {
  p,
  .balanced {
    text-wrap: balance;
  }
}

small {
  font-size: var(--font-size-xxs);
}

ul,
ol {
  margin-top: var(--spacing-sm);
  padding-left: var(--spacing-md);
}

li {
  margin-bottom: var(--spacing-sm);
}

li:last-child {
  margin-bottom: 0;
}

li::marker {
  color: var(--color-text-colored);
}

ul.no-style,
ul.no-style li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  padding-bottom: var(--border-width);
  position: relative;
  text-decoration: none;
  transition: padding-bottom 0.1s ease-in-out;
  box-sizing: border-box;
  max-width: max-content;
}

a::after {
  background: var(--color-border);
  border-radius: var(--border-radius-full);
  bottom: 0;
  content: '';
  height: 0.1rem;
  left: 0;
  position: absolute;
  right: 0;
  transition: all 0.1s ease-in-out;
}

a:hover {
  padding-bottom: var(--border-width);
}

a:hover::after {
  animation: animated-background 6s linear alternate infinite;
  height: 0.2rem;
  filter: brightness(2);
}

a.cta {
  border-radius: var(--border-radius-full);
  font-weight: 500;
  min-height: 44px;
  border: var(--border-dashed-thin);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xs) var(--spacing-md);
  overflow: hidden;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

a.cta:hover {
  color: var(--color-text-dark);
  border: var(--border-thin);
  transform: scale(1.03);
  box-shadow: 0 0 1rem 0 var(--color-accent-light);
}

a.cta::after {
  height: 100%;
  background: var(--gradient-rainbow);
  z-index: -1;
  filter: blur(20px) brightness(3);
  transition: all 0.5s ease-in-out;
  animation: animated-background 10s linear alternate infinite;
}

a.cta:hover::after {
  filter: blur(30px) brightness(5);
}

.huge {
  color: var(--color-text-colored);
  font-size: var(--font-size-5xl);
  font-weight: 900;
  max-width: none;
  text-wrap: balance;
}

.huge a::after {
  height: 0.3rem;
}

.huge a:hover::after {
  height: 0.6rem;
}

@media (prefers-color-scheme: dark) {
  a.cta::after {
    filter: blur(20px) brightness(1.4);
  }

  a.cta:hover {
    box-shadow: 0 0 1rem 0 var(--color-accent-dark);
  }

  a.cta:hover::after {
    filter: blur(10px) brightness(5);
  }
}

@media (prefers-reduced-motion) {
  a {
    transition: none;
  }

  a::after {
    transition: none;
  }

  a:hover::after {
    animation: none;
    background: var(--color-border);
  }

  a.cta::after {
    transition: none;
  }

  a.cta:hover::after {
    animation: none;
  }
}
