{
  "plugins": ["stylelint-gamut"],
  "rules": {
    "gamut/color-no-out-gamut-range": true,
    "function-disallowed-list": ["rgba", "hsla", "rgb", "hsl"],
    "color-function-notation": "modern",
    "color-no-hex": true,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["extends"]
      }
    ],
    "block-no-empty": null,
    "unit-allowed-list": [
      "em",
      "rem",
      "s",
      "%",
      "svh",
      "vh",
      "svw",
      "vw",
      "deg",
      "fr",
      "ch",
      "px"
    ]
  },
  "extends": "stylelint-config-recommended"
}
