.page {
 max-width: var(--width-mx);
 margin: 0 auto;
}

.project img {
 max-height: 200px;
}

.projects {
 container-type: inline-size;

}

@media (min-width: 540px) {
 .project img {
  max-height: 400px;
 }

 .projects>:not(:first-of-type)>* {
  grid-template-columns: 1fr 1fr;
 }

 .projects>:not(:first-of-type)>* img {
  height: 100%;
  max-height: 300px;
 }
}

@media (min-width: 1024px) {
 .projects>:not(:first-of-type)>* {
  gap: var(--spacing-8);
 }

 .projects>:not(:first-of-type)>* .content {
  padding: var(--spacing-8);
 }
}