.theme-picker {
  align-items: center;
  border: var(--border-inverted-thin);
  border-radius: var(--border-radius-sm);
  box-sizing: border-box;
  display: flex;
  gap: var(--spacing-sm);
  justify-content: center;
  padding: var(--spacing-xs) var(--spacing-sm);
  position: relative;
  width: max-content;
  overflow: hidden;
  background: transparent;
  height: max-content;
  cursor: pointer;
  min-height: 44px;
}

.theme-picker::after {
  background: var(--color-surface-gradient-linear);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  filter: blur(50px);
  transition: filter 0.3s ease-in-out;
}

.theme-picker:hover::after {
  filter: blur(40px) brightness(0.5);
}

.theme-picker label {
  position: relative;
  font-weight: 500;
  z-index: 2;
  cursor: pointer;
}

input[type='color'] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-full);
  box-sizing: border-box;
  height: 28px;
  outline: none;
  overflow: hidden;
  width: 28px;
  z-index: 2;
  position: relative;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  z-index: 2;
  position: relative;
}

input[type='color']::-webkit-color-swatch {
  border-radius: var(--border-radius-full);
  z-index: 2;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .theme-picker:hover::after {
    filter: blur(40px) brightness(6);
  }
}

@media (prefers-reduced-motion) {
  .theme-picker::after {
    transition: none;
  }
}
