.article-header {
  @container (min-width: 640px) {
    --bleed: 3000px;
    padding-inline: var(--bleed);
    margin-inline: calc(var(--bleed) * -1);
    background: var(--color-surface-2);
    padding-block: var(--spacing-md);
  }

  .content {
    > hgroup {
      > p {
        font-size: var(--font-size-md);
      }
    }
  }
}
