h1.heading,
h2.heading,
h3.heading,
h4.heading {
  font-family: "EB Garamond", serif;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 0;
}

h1.heading {
  font-size: clamp(2rem, 3vw, 2.5rem);
}

h2.heading {
font-size: clamp(1.5rem, 3vw, 2rem);
}

h3.heading {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
}

h4.heading {
  font-size: clamp(1rem, 3vw, 1.25rem);
}