@keyframes animated-background {
  0% {
    background: var(--color-rainbow-linear) 0% 50% / 400% 400%;
  }
  50% {
    background: var(--color-rainbow-linear) 100% 50% / 400% 400%;
  }
  100% {
    background: var(--color-rainbow-linear) 50% 0% / 400% 400%;
  }
}

@keyframes animated-border {
  0% {
    background: var(--border-gradient) 0% 100% / 400% 400%;
  }
  100% {
    background: var(--border-gradient) 100% 0% / 400% 400%;
  }
}

.animated-background {
  animation: 5s linear infinite alternate animated-background;
}

.animated-gradient-text {
  animation: 12s linear infinite alternate animated-background;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animated-border {
  animation: 2s ease-in-out infinite alternate animated-border;
}

@media (prefers-reduced-motion: no-preference) {
  .animated-background,
  .animated-gradient-text,
  .animated-border {
    animation: none;
  }
}
