@keyframes animated-background {
  0% {
    background: var(--color-rainbow-linear) 0% 50% / 400% 400%;
  }
  50% {
    background: var(--color-rainbow-linear) 100% 50% / 400% 400%;
  }
  100% {
    background: var(--color-rainbow-linear) 50% 0% / 400% 400%;
  }
}

.animated-background {
  animation: animated-background 5s linear infinite;
  background: var(--color-rainbow-linear);
  background-size: 1000% 1000%;
}

.animated-gradient-text {
  animation: animated-background 12s linear infinite;
  background: var(--color-rainbow-linear);
  background-clip: text;
  background-size: 1000% 1000%;
  -webkit-text-fill-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  .animated-background {
    animation: none;
  }

  .animated-gradient-text {
    animation: none;
  }
}
