@keyframes animated-background {
  0% {
    background: var(--gradient-rainbow) -400% -100% / 700% 400%;
  }
  100% {
    background: var(--gradient-rainbow) -200% 40% / 200% 600%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .animated-background {
    animation: 5s linear infinite alternate animated-background;
  }

  .animated-gradient-text {
    animation: 12s linear infinite alternate animated-background;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
