@media (prefers-reduced-motion: no-preference) {
  .slide-up {
    animation-direction: var(--direction);
    animation-duration: var(--duration);
    animation-fill-mode: var(--fill-mode);
    animation-iteration-count: var(--iterations);
    animation-name: slide-up;
    animation-timing-function: var(--timing);
    transform: var(--transform-start);
  }

  .slide-down {
    animation-direction: var(--direction);
    animation-duration: var(--duration);
    animation-fill-mode: var(--fill-mode);
    animation-iteration-count: var(--iterations);
    animation-name: slide-down;
    animation-timing-function: var(--timing);
    transform: var(--transform-start);
  }

  .slide-left {
    animation-direction: var(--direction);
    animation-duration: var(--duration);
    animation-fill-mode: var(--fill-mode);
    animation-iteration-count: var(--iterations);
    animation-name: slide-left;
    animation-timing-function: var(--timing);
    transform: var(--transform-start);
  }

  .slide-right {
    animation-direction: var(--direction);
    animation-duration: var(--duration);
    animation-fill-mode: var(--fill-mode);
    animation-iteration-count: var(--iterations);
    animation-name: slide-right;
    animation-timing-function: var(--timing);
    transform: var(--transform-start);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(var(--distance));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(calc(-1 * var(--distance)));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(calc(-1 * var(--distance)));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(var(--distance));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
