.card {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 width: 100%;
 gap: var(--spacing-8);
 padding: var(--spacing-12);
 background: radial-gradient(100% 100% at 50% 50%,
   var(--surface) 0%,
   var(--bg) 100%);
 border: var(--border);
 border-radius: var(--border-radius-medium);
}

@media (min-width: 1200px) {
 .card {
  padding: var(--spacing-12);
 }
}