@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-bg-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100svh;
  overflow-x: hidden;
}

.breaker {
  position: relative;
}

.breaker::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid rgba(var(--foreground-rgb), 0.07);
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.07);
  background: rgba(var(--foreground-rgb), 0.04);
}

a:not(.badge, .tab) {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.75);
}