.page-home {
  padding-bottom: var(--spacing-xl);
}
.page-home .home-header {
  min-height: clamp(20vh, 50vw, 40vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-home .repos {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.test {
  width: 100%;
  padding: var(--spacing-md);
  border-radius: var(--border-radius-md);
}

.test:nth-of-type(1n) {
  background: var(--color-surface-0);
}

.test:nth-of-type(2n) {
  background: var(--color-surface-1);
}

.test:nth-of-type(3n) {
  background: var(--color-surface-2);
}

.test:nth-of-type(4n) {
  background: var(--color-surface-3);
}

@media (min-width: 640px) {
  .page-home .repos {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'title link'
      'list list';
  }

  .page-home .repos .title {
    grid-area: title;
  }

  .page-home .repos .github-link {
    grid-area: link;
  }

  .page-home .repos ul {
    grid-area: list;
  }
}
