.theme-picker {
    align-items: center;
    background: var(--color-accent);
    border: var(--border-width) solid var(--color-border-colored);
    border-radius: var(--border-radius-md);
    box-sizing: border-box;
    color: var(--color-text-inverted);
    display: flex;
    gap: var(--spacing-sm);
    justify-content: center;
    padding: var(--spacing-xs) var(--spacing-sm);
    width: max-content;

    input {
        -webkit-appearance: none;
        aspect-ratio: 1 / 1;
        background-color: transparent;
        border: var(--border-width) solid var(--color-border-colored);
        border-radius: var(--border-radius-full);
        height: 32px;
        outline: none;
        overflow: hidden;
        width: 32px;
    }

    input::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    input::-webkit-color-swatch {
        border: none;
    }
}