.cta {
 background: var(--cta-bg-color);
 font-size: var(--font-size-small);
 width: max-content;
 min-width: 80px;
 border-radius: var(--border-radius-full);
 padding: var(--spacing-2) var(--spacing-5);
 text-align: center;
 font-weight: var(--font-weight-normal);
 box-shadow: var(--cta-shadow);
 transition: box-shadow 0.2s ease-in;
}

.cta,
.cta:hover,
.cta:visited,
.cta:visited:hover {
 color: var(--cta-text-color);
}

.cta:hover {
 box-shadow: var(--cta-shadow-hover);
}