.cta {
 background: var(--cta-bg-color);
 font-size: var(--font-size-small);
 width: max-content;
 min-width: 80px;
 border-radius: var(--border-radius-full);
 padding: var(--spacing-2) var(--spacing-5);
}

.cta,
.cta:visited,
.cta:visited:hover {
 color: var(--cta-text-color);
}