.school {
 display: flex;
 flex-direction: column;
 gap: var(--spacing-2);
 list-style: none;
}

.school .title {
 font-weight: var(--font-weight-medium);
}

.school .description {
 color: var(--text-color-muted);
 line-height: 175%;
}

.school .description .graduation {
 color: var(--text-color);
}