.header {
 max-width: var(--max-width);
 margin: 0 auto;
 margin-bottom: var(--spacing-12);
 padding: var(--spacing-6);
}

.header a {
 color: var(--color-text);
 border-bottom: none;
 padding-bottom: 0;
}