.text {
 color: var(--color-text);
 font-family: var(--font-family-sans);
}

.text.muted {
 color: var(--color-text-muted);
}

.text.uppercase {
 text-transform: uppercase;
}

p.text {
 line-height: var(--line-height-lg);
}

p.text.short {
 line-height: var(--line-height-sm);
}