.button {
 width: max-content;
 min-width: 80px;
 background: var(--button-bg);
 color: var(--white);
 font-size: var(--font-size-small);
 border-radius: var(--border-radius-full);
 padding: var(--spacing-1) var(--spacing-4);
 text-align: center;
 font-weight: var(--font-weight-normal);
 text-decoration: none;
}