.frontpage {
 max-width: var(--container-large);
 padding-left: var(--spacing-4);
 padding-right: var(--spacing-4);
}

.about p {
 margin-bottom: 0;
}

.project {
 list-style-type: none;
}

.project h3 {
 margin: 0
}