@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --black: hsl(0, 0%, 0%);
  --gray-950: hsl(0, 0%, 5%);
  --gray-900: hsl(0, 0%, 10%);
  --gray-800: hsl(0, 0%, 20%);
  --gray-700: hsl(0, 0%, 30%);
  --gray-600: hsl(0, 0%, 40%);
  --gray-500: hsl(0, 0%, 50%);
  --gray-400: hsl(0, 0%, 60%);
  --gray-300: hsl(0, 0%, 70%);
  --gray-200: hsl(0, 0%, 80%);
  --gray-100: hsl(0, 0%, 90%);
  --gray-50: hsl(0, 0%, 95%);
  --white: hsl(0, 0%, 100%);

  --blue-950: hsl(210, 100%, 5%);
  --blue-900: hsl(210, 100%, 10%);
  --blue-800: hsl(210, 100%, 20%);
  --blue-700: hsl(210, 100%, 30%);
  --blue-600: hsl(210, 100%, 40%);
  --blue-500: hsl(210, 100%, 50%);
  --blue-400: hsl(210, 100%, 60%);
  --blue-300: hsl(210, 100%, 70%);
  --blue-200: hsl(210, 100%, 80%);
  --blue-100: hsl(210, 100%, 90%);
  --blue-50: hsl(210, 100%, 95%);

  --red-950: hsl(0, 100%, 5%);
  --red-900: hsl(0, 100%, 10%);
  --red-800: hsl(0, 100%, 20%);
  --red-700: hsl(0, 100%, 30%);
  --red-600: hsl(0, 100%, 40%);
  --red-500: hsl(0, 100%, 50%);
  --red-400: hsl(0, 100%, 60%);
  --red-300: hsl(0, 100%, 70%);
  --red-200: hsl(0, 100%, 80%);
  --red-100: hsl(0, 100%, 90%);
  --red-50: hsl(0, 100%, 95%);

  --green-950: hsl(120, 100%, 5%);
  --green-900: hsl(120, 100%, 10%);
  --green-800: hsl(120, 100%, 20%);
  --green-700: hsl(120, 100%, 30%);
  --green-600: hsl(120, 100%, 40%);
  --green-500: hsl(120, 100%, 50%);
  --green-400: hsl(120, 100%, 60%);
  --green-300: hsl(120, 100%, 70%);
  --green-200: hsl(120, 100%, 80%);
  --green-100: hsl(120, 100%, 90%);
  --green-50: hsl(120, 100%, 95%);

  --yellow-950: hsl(60, 100%, 5%);
  --yellow-900: hsl(60, 100%, 10%);
  --yellow-800: hsl(60, 100%, 20%);
  --yellow-700: hsl(60, 100%, 30%);
  --yellow-600: hsl(60, 100%, 40%);
  --yellow-500: hsl(60, 100%, 50%);
  --yellow-400: hsl(60, 100%, 60%);
  --yellow-300: hsl(60, 100%, 70%);
  --yellow-200: hsl(60, 100%, 80%);
  --yellow-100: hsl(60, 100%, 90%);
  --yellow-50: hsl(60, 100%, 95%);

  --purple-950: hsl(265, 100%, 5%);
  --purple-900: hsl(265, 100%, 10%);
  --purple-800: hsl(265, 100%, 20%);
  --purple-700: hsl(265, 100%, 30%);
  --purple-600: hsl(265, 100%, 40%);
  --purple-500: hsl(265, 100%, 50%);
  --purple-400: hsl(265, 100%, 60%);
  --purple-300: hsl(265, 100%, 70%);
  --purple-200: hsl(265, 100%, 80%);
  --purple-100: hsl(265, 100%, 90%);
  --purple-50: hsl(265, 100%, 95%);

  --bg: var(--black);
  --surface: var(--gray-900);
  --surface-muted: var(--gray-950);

  --text: var(--white);
  --text-muted: var(--gray-200);

  --action: var(--blue-400);
  --action-hover: var(--blue-200);
  --action-active: var(--blue-200);
  --action-visited: var(--action);
  --action-focus: var(--blue-200);

  --cta-bg-color: var(--blue-500);
  --cta-text-color: var(--white);

  --border: 1px solid var(--surface);

  --font-family: 'Inter', sans-serif;

  --font-size-xxl: 1.75rem;
  --font-size-xl: 1.6rem;
  --font-size-l: 1.4rem;
  --font-size-m: 1.2rem;
  --font-size-s: 1rem;
  --font-size-xs: 0.8rem;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-13: 3.5rem;
  --spacing-14: 4rem;
  --spacing-15: 4.5rem;
  --spacing-16: 5rem;
  --spacing-17: 5.5rem;
  --spacing-18: 6rem;
  --spacing-19: 8rem;
  --spacing-20: 10rem;

  --full: 1440px;
  --container: 900px;

  --border-radius-s: 0.25rem;
  --border-radius-m: 1rem;
  --border-radius-l: 2rem;
  --border-radius-full: 9999px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-family);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  line-height: 150%;
}

h1 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

h3 {
  font-size: var(--font-size-l);
}

h4 {
  font-size: var(--font-size-m);
}

h5 {
  font-size: var(--font-size-s);
}

h6 {
  font-size: var(--font-size-xs);
}

p {
  font-size: var(--font-size-s);
  line-height: 150%;
}

a {
  color: var(--action);
  text-decoration: none;
}

a:hover {
  color: var(--action-hover);
}

a:active {
  color: var(--action-active);
}

a:visited {
  color: var(--action-visited);
}

a:visited:hover {
  color: var(--action-hover);
}

a:focus {
  color: var(--action-focus);
}

main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  :root {
    --font-size-xxl: 2rem;
    --font-size-xl: 1.75rem;
    --font-size-l: 1.5rem;
    --font-size-m: 1.25rem;
    --font-size-s: 1rem;
    --font-size-xs: 0.8rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-xxl: 2.25rem;
    --font-size-xl: 2rem;
    --font-size-l: 1.5rem;
    --font-size-m: 1.25rem;
    --font-size-s: 1rem;
    --font-size-xs: 0.8rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--white);
    --surface: var(--gray-100);
    --surface-muted: var(--gray-50);

    --text: var(--black);
    --text-muted: var(--gray-700);

    --focus: var(--blue-800);
    --action: var(--blue-500);
    --action-hover: var(--blue-800);
    --action-active: var(--blue-800);
    --action-visited: var(--action);
    --action-focus: var(--blue-800);

    --cta-bg-color: var(--blue-900);
    --cta-text-color: var(--blue-50);
  }
}