@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --black: hsl(0, 0%, 0%);
  --gray-950: hsl(0, 0%, 5%);
  --gray-900: hsl(0, 0%, 10%);
  --gray-800: hsl(0, 0%, 20%);
  --gray-700: hsl(0, 0%, 30%);
  --gray-600: hsl(0, 0%, 40%);
  --gray-500: hsl(0, 0%, 50%);
  --gray-400: hsl(0, 0%, 60%);
  --gray-300: hsl(0, 0%, 70%);
  --gray-200: hsl(0, 0%, 80%);
  --gray-100: hsl(0, 0%, 90%);
  --gray-50: hsl(0, 0%, 95%);
  --white: hsl(0, 0%, 100%);

  --blue-950: hsl(210, 100%, 5%);
  --blue-900: hsl(210, 100%, 10%);
  --blue-800: hsl(210, 100%, 20%);
  --blue-700: hsl(210, 100%, 30%);
  --blue-600: hsl(210, 100%, 40%);
  --blue-500: hsl(210, 100%, 50%);
  --blue-400: hsl(210, 100%, 60%);
  --blue-300: hsl(210, 100%, 70%);
  --blue-200: hsl(210, 100%, 80%);
  --blue-100: hsl(210, 100%, 90%);
  --blue-50: hsl(210, 100%, 95%);

  --red-950: hsl(0, 100%, 5%);
  --red-900: hsl(0, 100%, 10%);
  --red-800: hsl(0, 100%, 20%);
  --red-700: hsl(0, 100%, 30%);
  --red-600: hsl(0, 100%, 40%);
  --red-500: hsl(0, 100%, 50%);
  --red-400: hsl(0, 100%, 60%);
  --red-300: hsl(0, 100%, 70%);
  --red-200: hsl(0, 100%, 80%);
  --red-100: hsl(0, 100%, 90%);
  --red-50: hsl(0, 100%, 95%);

  --green-950: hsl(120, 100%, 5%);
  --green-900: hsl(120, 100%, 10%);
  --green-800: hsl(120, 100%, 20%);
  --green-700: hsl(120, 100%, 30%);
  --green-600: hsl(120, 100%, 40%);
  --green-500: hsl(120, 100%, 50%);
  --green-400: hsl(120, 100%, 60%);
  --green-300: hsl(120, 100%, 70%);
  --green-200: hsl(120, 100%, 80%);
  --green-100: hsl(120, 100%, 90%);
  --green-50: hsl(120, 100%, 95%);

  --yellow-950: hsl(60, 100%, 5%);
  --yellow-900: hsl(60, 100%, 10%);
  --yellow-800: hsl(60, 100%, 20%);
  --yellow-700: hsl(60, 100%, 30%);
  --yellow-600: hsl(60, 100%, 40%);
  --yellow-500: hsl(60, 100%, 50%);
  --yellow-400: hsl(60, 100%, 60%);
  --yellow-300: hsl(60, 100%, 70%);
  --yellow-200: hsl(60, 100%, 80%);
  --yellow-100: hsl(60, 100%, 90%);
  --yellow-50: hsl(60, 100%, 95%);

  --purple-950: hsl(265, 100%, 5%);
  --purple-900: hsl(265, 100%, 10%);
  --purple-800: hsl(265, 100%, 20%);
  --purple-700: hsl(265, 100%, 30%);
  --purple-600: hsl(265, 100%, 40%);
  --purple-500: hsl(265, 100%, 50%);
  --purple-400: hsl(265, 100%, 60%);
  --purple-300: hsl(265, 100%, 70%);
  --purple-200: hsl(265, 100%, 80%);
  --purple-100: hsl(265, 100%, 90%);
  --purple-50: hsl(265, 100%, 95%);

  --orange-950: hsl(30, 100%, 5%);
  --orange-900: hsl(30, 100%, 10%);
  --orange-800: hsl(30, 100%, 20%);
  --orange-700: hsl(30, 100%, 30%);
  --orange-600: hsl(30, 100%, 40%);
  --orange-500: hsl(30, 100%, 50%);
  --orange-400: hsl(30, 100%, 60%);
  --orange-300: hsl(30, 100%, 70%);
  --orange-200: hsl(30, 100%, 80%);
  --orange-100: hsl(30, 100%, 90%);
  --orange-50: hsl(30, 100%, 95%);

  --pink-950: hsl(330, 100%, 5%);
  --pink-900: hsl(330, 100%, 10%);
  --pink-800: hsl(330, 100%, 20%);
  --pink-700: hsl(330, 100%, 30%);
  --pink-600: hsl(330, 100%, 40%);
  --pink-500: hsl(330, 100%, 50%);
  --pink-400: hsl(330, 100%, 60%);
  --pink-300: hsl(330, 100%, 70%);
  --pink-200: hsl(330, 100%, 80%);
  --pink-100: hsl(330, 100%, 90%);
  --pink-50: hsl(330, 100%, 95%);

  --teal-950: hsl(180, 100%, 5%);
  --teal-900: hsl(180, 100%, 10%);
  --teal-800: hsl(180, 100%, 20%);
  --teal-700: hsl(180, 100%, 30%);
  --teal-600: hsl(180, 100%, 40%);
  --teal-500: hsl(180, 100%, 50%);
  --teal-400: hsl(180, 100%, 60%);
  --teal-300: hsl(180, 100%, 70%);
  --teal-200: hsl(180, 100%, 80%);
  --teal-100: hsl(180, 100%, 90%);
  --teal-50: hsl(180, 100%, 95%);

  --bg: var(--black);
  --bg-inverted: var(--white);

  --surface: var(--gray-900);

  --button-bg: var(--blue-600);
  --button-text: var(--white);

  --text: var(--white);
  --text-muted: var(--gray-300);
  --text-inverted: var(--black);

  --border: 1px solid var(--gray-900);
  --border-muted: 1px solid var(--gray-950);

  --font-family-sans-serif: 'Inter', sans-serif;

  --font-size-xxlarge: 1.7rem;
  --font-size-xlarge: 1.6rem;
  --font-size-large: 1.4rem;
  --font-size-medium: 1.2rem;
  --font-size-small: 1rem;
  --font-size-xsmall: 0.8rem;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-13: 3.5rem;
  --spacing-14: 4rem;
  --spacing-15: 4.5rem;
  --spacing-16: 5rem;
  --spacing-17: 5.5rem;
  --spacing-18: 6rem;
  --spacing-19: 8rem;
  --spacing-20: 10rem;

  --border-radius-small: 0.25rem;
  --border-radius-medium: 0.5rem;
  --border-radius-large: 1rem;
  --border-radius-full: 9999px;

  --container-small: 576px;
  --container-medium: 768px;
  --container-large: 992px;
  --container-xlarge: 1200px;
  --container-xxlarge: 1440px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-family-sans-serif);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 150%;
}

h1 {
  font-size: var(--font-size-xxlarge);
  font-weight: var(--font-weight-normal);
  margin: var(--spacing-8) 0 var(--spacing-4) 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-normal);
}

h2 {
  font-size: var(--font-size-xlarge);
  margin: var(--spacing-12) 0 var(--spacing-4) 0;
}

h3 {
  margin: var(--spacing-8) 0 var(--spacing-2) 0;
  font-size: var(--font-size-large);
}

h4 {
  font-size: var(--font-size-medium);
}

h5 {
  font-size: var(--font-size-small);
}

h6 {
  font-size: var(--font-size-xsmall);
}

p {
  font-size: var(--font-size-small);
  margin-bottom: var(--spacing-12);
  max-width: var(--container-medium);
}

a {
  color: var(--text);
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: var(--text-muted);
  transition: text-decoration-color 0.2s ease;
}

a:hover {
  text-decoration-color: var(--text-muted);
}

p,
a {
  line-height: 175%;
}

img {
  max-width: 100%;
}

main {
  width: 100%;
  margin: 0 auto;
  padding-bottom: var(--spacing-12);
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

@media (min-width: 768px) {
  :root {
    --font-size-xxlarge: 2rem;
    --font-size-xlarge: 1.75rem;
    --font-size-large: 1.5rem;
    --font-size-medium: 1.25rem;
    --font-size-small: 1rem;
    --font-size-xsmall: 0.8rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-xxlarge: 2.25rem;
    --font-size-xlarge: 2rem;
    --font-size-large: 1.5rem;
    --font-size-medium: 1.25rem;
    --font-size-small: 1rem;
    --font-size-xsmall: 0.8rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--white);
    --bg-inverted: var(--black);

    --surface: var(--gray-50);

    --text: var(--black);
    --text-muted: var(--gray-600);
    --text-inverted: var(--white);

    --border: 1px solid var(--gray-100);
    --border-muted: 1px solid var(--gray-50);
  }
}