.frontPage {
 gap: var(--spacing-16);
 max-width: var(--container);
 margin: 0 auto;
 padding: var(--spacing-8) var(--spacing-4) var(--spacing-18) var(--spacing-4);
}

.category {
 display: flex;
 flex-direction: column;
 gap: var(--spacing-4);
 width: 100%;
 max-width: var(--full);
 margin: 0 auto;
}

.categoryTitle {
 font-size: var(--font-size-m);
}

.category ul {
 display: flex;
 flex-direction: column;
}

.category.projects ul {
 gap: var(--spacing-12);
}

.category.employment ul {
 gap: var(--spacing-10);
}

.category.education ul {
 gap: var(--spacing-8);
}

.category.languages ul {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: var(--spacing-12) var(--spacing-8);
}

@media (min-width: 768px) {
 .category.languages ul {
  grid-template-columns: repeat(4, 1fr);
 }
}

@media (min-width: 1024px) {
 .frontPage {
  gap: var(--spacing-19);
  max-width: var(--container);
  margin: 0 auto;
  padding: var(--spacing-16) var(--spacing-4) var(--spacing-18) var(--spacing-4);
 }

 .category {
  gap: var(--spacing-8);
 }

 .category.projects ul {
  gap: var(--spacing-18);
 }

 .category.employment ul,
 .category.education ul {
  gap: var(--spacing-12);
 }
}