.projects {
 display: flex;
 flex-direction: column;
 gap: var(--spacing-8);
 width: 100%;
 max-width: var(--full);
 margin: 0 auto;
 padding: var(--spacing-8);
}

.projects ul {
 display: flex;
 flex-direction: column;
 gap: var(--spacing-4);
 padding: 0;
 margin: 0;
}