.category {
 display: flex;
 flex-direction: column;
 gap: var(--spacing-4);
 width: 100%;
 max-width: var(--full);
 margin: 0 auto;
}

.categoryTitle {
 font-size: var(--font-size-m);
 color: var(--text-muted);
}

.category ul {
 display: flex;
 flex-direction: column;
 gap: var(--spacing-12);
 padding: 0;
 margin: 0;
}