.tag {
 display: inline-block;
 padding: 0 var(--spacing-2);
 border-radius: var(--border-radius-s);
 border: var(--border);
 background: var(--surface);
 font-size: var(--font-size-xs);
 font-weight: var(--font-weight-medium);
 width: max-content;
 text-transform: capitalize;
 list-style: none;
}