.tag {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color-strong);
    border-radius: 4px;
    display: inline-block;
    font-size: clamp(0.7rem, 1vw, 0.8em);
    font-weight: 700;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
}