.github {
 max-width: var(--container-large);
 padding-left: var(--spacing-4);
 padding-right: var(--spacing-4);
}

.github .header {
 display: flex;
 align-items: center;
 gap: var(--spacing-6);
 margin: var(--spacing-8) 0 var(--spacing-12) 0;
}

.github .header .name,
.github .header .work {
 margin: 0;
}

.github .header .name {
 font-size: var(--font-size-medium);
 font-weight: var(--font-weight-bold);
}

.github .header .avatar {
 border-radius: var(--border-radius-full);
}

.github .username {
 font-size: var(--font-size-small);
 margin-bottom: var(--spacing-4);
}

.github .username a {
 color: var(--text-muted);
}

.tabs {
 display: flex;
 align-items: center;
 list-style: none;
 gap: var(--spacing-4);
 flex-wrap: wrap;
}

.tab a {
 display: block;
 text-decoration: none;
 width: 100%;
 height: 100%;
 padding: var(--spacing-1) var(--spacing-4);
 background: var(--surface);
 border-radius: var(--border-radius-full);
}

.overview .group {
 margin-bottom: var(--spacing-4);
}

.overview .group p {
 margin: 0;
}

.overview .infoTitle {
 color: var(--text-muted);
}

.emojis {
 display: flex;
 flex-wrap: wrap;
 gap: var(--spacing-4);
}

.repos,
.emojis {
 list-style: none;
}

.repo .title {
 font-size: var(--font-size-medium);
 margin: var(--spacing-4) 0 var(--spacing-2) 0;
}