.global-footer {
    background: var(--color-surface-3);
    border-top: var(--border-dashed);
    width: 100%;
    
    .content {    
        box-sizing: border-box;
        display: grid;
        gap: var(--spacing-lg) var(--spacing-xl);
        grid-template-columns: 1fr;
        margin: 0 auto;
        max-width: var(--max-width);
        padding: var(--padding-horizontal);
        width: 100%;

        @media (min-width: 768px) {
            grid-template-columns: auto 1fr auto;

            .footer-links {
                border-left: var(--border-dotted-thin);
                border-right: var(--border-dotted-thin);
                display: flex;
                flex-direction: column;
                gap: var(--spacing-sm);
                padding: 0 var(--spacing-lg);
            }
        }
    }
}