.global-footer {
  background: var(--color-surface-dark);
  border-top: var(--border-light);
  color: var(--color-text-light);
  width: 100%;
  container-type: inline-size;

  .content {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-lg);
    margin: 0 auto;
    max-width: var(--max-width);
    padding: var(--spacing-lg) var(--padding-horizontal);
    width: 100%;

    @container (min-width: 1024px) {
      grid-template-columns: auto 1fr auto;
      align-items: center;

      ul {
        display: flex;
        gap: var(--spacing-md);
      }
    }
  }
}
