.header {
 width: 100%;
 margin-bottom: var(--spacing-12);
}

.content {
 width: 100%;
 max-width: var(--container-large);
 padding: var(--spacing-4) var(--spacing-4) 0 var(--spacing-4);
 margin: 0 auto;
}

.content .name {
 text-decoration: none;
}