.header {
 width: 100%;
 margin-bottom: var(--spacing-12);
}

.content {
 width: 100%;
 max-width: var(--container-large);
 padding: var(--spacing-8) var(--spacing-4);
 margin: 0 auto;
}

.content ul {
 display: flex;
 align-items: center;
 gap: var(--spacing-8);
 list-style: none;
}

.content a.active {
 text-decoration: none;
}