.main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 0 auto;
    max-width: var(--max-width);
    min-height: calc(100svh - 16rem);
    padding: 2rem;
}

.main.max-width {
    margin: 0 auto;
    max-width: var(--max-width);
    width: 100%;
}

.main.none {
    max-width: none;
    padding: 0;
}