:root {
  --font-family-primary: 'Inter', sans-serif;
  --font-family-secondary: 'Merriweather', serif;

  --font-size-xxs: clamp(0.85rem, 1vw, 0.9rem);
  --font-size-xs: clamp(0.9rem, 0.7857rem + 0.2857vw, 1rem);
  --font-size-sm: clamp(1rem, 0.9571rem + 0.1905vw, 1.1rem);
  --font-size-md: clamp(1.1rem, 1.0357rem + 0.2857vw, 1.25rem);
  --font-size-lg: clamp(1.25rem, 1.1429rem + 0.4762vw, 1.5rem);
  --font-size-xl: clamp(1.5rem, 1.2857rem + 0.9524vw, 2rem);
  --font-size-2xl: clamp(1.85rem, 1.5714rem + 1.2381vw, 2.5rem);
  --font-size-3xl: clamp(2rem, 1.6786rem + 1.4286vw, 2.75rem);
  --font-size-4xl: clamp(2.5rem, 2.2857rem + 0.9524vw, 3rem);
  --font-size-5xl: clamp(2.5rem, 1.8571rem + 2.8571vw, 4rem);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
  width: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-family-primary);
  font-weight: 700;
  text-wrap: balance;
}

h1,
.h1 {
  font-size: var(--font-size-3xl);
}

h2,
.h2 {
  font-size: var(--font-size-2xl);
}

h3,
.h3 {
  font-size: var(--font-size-xl);
}

h4,
.h4 {
  font-size: var(--font-size-lg);
}

h5,
.h5 {
  font-size: var(--font-size-md);
}

h6,
.h6,
p {
  font-size: var(--font-size-sm);
}

p {
  max-width: 60ch;
}

@supports (text-wrap: balance) {
  p,
  .balanced {
    text-wrap: balance;
  }
}

small {
  font-size: var(--font-size-xxs);
}

ul,
ol {
  margin-top: var(--spacing-sm);
  padding-left: var(--spacing-md);
}

li {
  margin-bottom: var(--spacing-sm);
}

li:last-child {
  margin-bottom: 0;
}

li::marker {
  color: var(--color-text-colored);
}

ul.no-style,
ul.no-style li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  padding-bottom: var(--border-width);
  position: relative;
  text-decoration: none;
  transition: padding-bottom 0.1s ease-in-out;
  box-sizing: border-box;
  max-width: max-content;
}

a::after {
  background: var(--color-border);
  border-radius: var(--border-radius-full);
  bottom: 0;
  content: '';
  height: 0.1rem;
  left: 0;
  position: absolute;
  right: 0;
  transition: all 0.1s ease-in-out;
  filter: brightness(1);
}

a:hover {
  padding-bottom: var(--border-width);
}

a:hover::after {
  animation: animated-border 2s linear alternate infinite;
  height: 0.3rem;
  filter: brightness(1.5);
}

a.cta {
  border: var(--border-dotted-thin);
  border-radius: var(--border-radius-full);
  font-weight: 500;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xs) var(--spacing-md);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

a.cta:hover {
  border: var(--border-thin);
}

a.cta::after {
  height: 100%;
  background: var(--color-surface-gradient-linear);
  background-size: 400% 400%;
  z-index: -1;
  filter: blur(0) brightness(1);
  transition: all 0.2s ease-in-out;
}

a.cta:hover::after {
  filter: blur(5px) brightness(3);
}

.huge {
  color: var(--color-text-colored);
  font-size: var(--font-size-5xl);
  font-weight: 900;
  max-width: none;
  text-wrap: balance;
}

.huge a::after {
  height: 0.3rem;
}

.huge a:hover::after {
  height: 0.6rem;
}

@media (prefers-color-scheme: dark) {
  a.cta::after {
    filter: blur(0) brightness(4);
  }

  a.cta:hover::after {
    filter: brightness(1) blur(30px);
  }
}

@media (prefers-reduced-motion) {
  a {
    transition: none;
  }

  a::after {
    transition: none;
  }

  a:hover::after {
    animation: none;
    background: var(--color-border);
  }

  a.cta::after {
    transition: none;
  }

  a.cta:hover::after {
    animation: none;
  }
}
