.grid {
    display: grid;
    grid-gap: var(--spacing-md);
    grid-template-columns: 1fr;
    width: 100%;

    img {
        width: 100%;
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
}