.websitePage {
 display: flex;
 flex-direction: column;
 gap: var(--spacing-16);
 padding: var(--spacing-8) var(--spacing-4) var(--spacing-20) var(--spacing-4);
 width: 100%;
 max-width: var(--container);
}

.title {
 display: flex;
 flex-direction: column;
 gap: var(--spacing-2);
}

.title h1 {
 font-size: var(--font-size-large);
 font-weight: var(--font-weight-medium);
}

.title p {
 color: var(--text-color-muted);
}

.websites {
 display: flex;
 flex-direction: column;
 gap: var(--spacing-18);
}

.category {
 display: flex;
 flex-direction: column;
 gap: var(--spacing-8);
 width: 100%;
 max-width: var(--full);
 margin: 0 auto;
}

.categoryTitle {
 font-size: var(--font-size-xxlarge);
 font-weight: var(--font-weight-bold);
}

.category .description {
 color: var(--text-color-muted);
}

.websiteList {
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 gap: var(--spacing-10);
}

@media (min-width: 768px) {
 .websites {
  gap: var(--spacing-20);
 }

 .websiteList {
  grid-template-columns: repeat(2, 1fr);
 }
}

@media (min-width: 1024px) {
 .websiteList {
  grid-template-columns: repeat(3, 1fr);
 }
}