.global-header {
    width: 100%;

    .content {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: var(--max-width);
        padding: var(--spacing-md) var(--spacing-lg);
        width: 100%;
    }

    .name {
        padding-bottom: calc(var(--border-width-thick) * 2);
        text-transform: uppercase;
    }

    .name::after {
        height: var(--border-width-thick);
    }
}