.global-header {
  width: 100%;

  .content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: var(--spacing-md) var(--padding-horizontal);
    width: 100%;

    .navigation {
      width: 100%;

      .links {
        display: flex;
        width: 100%;
        gap: var(--spacing-md);
        flex-wrap: wrap;

        li {
          &:first-child {
            width: 100%;
          }
        }
      }
    }
  }
}
