.global-header {
  .header-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: var(--space-md);
    width: 100%;

    .name {
      font-size: var(--font-size-s);
      font-weight: 700;
      letter-spacing: var(--letter-spacing-wide);
      text-transform: uppercase;
    }
  }
}
