.project {
 position: relative;
 display: flex;
 flex-direction: column;
 gap: var(--spacing-3);
}

.project>* {
 z-index: 2;
}

.project .title {
 font-size: var(--font-size-xl);
}

.project .description {
 color: var(--text-muted);
 font-size: var(--font-size-m);
 font-weight: var(--font-weight-medium);
}

.project .dates {
 font-size: var(--font-size-s);
 color: var(--text-muted);
}