.project {
 display: grid;
 grid-template-columns: 1fr;
 gap: var(--spacing-4);
}

.project .title {
 font-size: var(--font-size-xxlarge);
 font-weight: var(--font-weight-bold);
}

.project .description {
 font-size: var(--font-size-medium);
 color: var(--text-muted);
}