.project {
 position: relative;
 display: flex;
 flex-direction: column;
}

.project>* {
 z-index: 2;
}

.project .title {
 font-size: var(--font-size-xxl);
}

.project .description {
 color: var(--text-color-muted);
 font-size: var(--font-size-m);
 font-weight: var(--font-weight-regular);
 margin: var(--spacing-2) 0 var(--spacing-4) 0;
}

.project .description .company {
 color: var(--text-color);
}

.project .dates {
 font-size: var(--font-size-s);
}