.CollectionLayout {
 display: flex;
 flex-direction: column;
 gap: var(--spacing-4);
}

.CollectionLayout .header {
 width: 100%;
 max-width: var(--container-large);
 margin: 0 auto;
 padding: 0 var(--spacing-4);
}

.collectionList,
.collectionGroups {
 width: 100%;
 display: grid;
 grid-template-columns: 1fr;
 gap: var(--spacing-8);
 padding: var(--spacing-4);
 margin: 0 auto;
}

.collectionList {
 max-width: var(--container-xlarge);
}

.collectionGroups {
 max-width: var(--container-large);
}

.collectionGroup {
 display: flex;
 flex-direction: column;
 gap: var(--spacing-4);
}

.collectionGroup .title {
 font-size: var(--font-size-medium);
 font-weight: var(--font-weight-medium);
}

.collectionGroup ul {
 padding-left: var(--spacing-4);
}

.collectionGroup li {
 margin-bottom: var(--spacing-4);
}

@media (min-width: 576px) {
 .collectionGroups {
  grid-template-columns: repeat(2, 1fr);
 }
}

@media (min-width: 768px) {
 .CollectionLayout {
  gap: var(--spacing-8);
 }
}

@media (min-width: 1200px) {
 .collectionList {
  grid-template-columns: repeat(2, 1fr);
 }

 .collectionGroups {
  grid-template-columns: repeat(3, 1fr);
 }
}