.collectionPage {
 display: flex;
 flex-direction: column;
 gap: var(--spacing-8);
 padding-bottom: var(--spacing-12);
}

.collectionPage header {
 display: flex;
 flex-direction: column;
 gap: var(--spacing-2);
 width: 100%;
 max-width: var(--container);
 margin: 0 auto;
 padding: 0 var(--spacing-4);
}

.collections {
 display: flex;
 flex-direction: column;
 gap: var(--spacing-12);
 width: 100%;
 max-width: var(--full);
 margin: 0 auto;
 padding: 0 var(--spacing-4);
}

.collection {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 gap: var(--spacing-8);
 width: 100%;
 max-width: var(--full);
 margin: 0 auto;
 padding: var(--spacing-12) var(--spacing-2);
 background: radial-gradient(circle, var(--bg) 0%, var(--blue-950) 75%);
 border-radius: var(--border-radius-large);
 border: 1px solid var(--blue-800);
}

.collection header {
 display: flex;
 flex-direction: column;
 gap: 0;
}

@media (min-width: 768px) {
 .collectionPage {
  gap: var(--spacing-12);
 }

 .collection {
  padding: var(--spacing-18) var(--spacing-4);
 }
}

@media (prefers-color-scheme: light) {
 .collection {
  background: radial-gradient(circle, var(--bg) 0%, var(--blue-50) 75%);
  border: 1px solid var(--blue-200);
 }
}